[submodule ".registry"]
	path = .registry
	url = https://github.com/ausgis/ausgis.r-universe.dev
	branch = HEAD
[submodule "SecDim"]
	path = SecDim
	url = https://github.com/ausgis/SecDim
[submodule "gdverse"]
	path = gdverse
	url = https://github.com/ausgis/gdverse
[submodule "geocomplexity"]
	path = geocomplexity
	url = https://github.com/ausgis/geocomplexity
[submodule "geosimilarity"]
	path = geosimilarity
	url = https://github.com/ausgis/geosimilarity
