[submodule ".registry"]
	path = .registry
	url = https://github.com/ausgis/ausgis.r-universe.dev
	branch = HEAD
[submodule "gdverse"]
	path = gdverse
	url = https://github.com/ausgis/gdverse
[submodule "geocomplexity"]
	path = geocomplexity
	url = https://github.com/ausgis/geocomplexity
[submodule "sdsfun"]
	path = sdsfun
	url = https://github.com/SpatLyu/sdsfun
	registered = false
